* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #52057b;
}

.content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
}

.contact .content p {
  font-weight: 300;
  color: #ffffff;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.container .contactinfo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .contactinfo .box {
  position: relative;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .contactinfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactinfo .box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
}

.container .contactinfo .box .text h3 {
  font-weight: 500;
  color: #bc6ff1;
}

.contactform {
  width: 40%;
  padding: 40px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 10px #000000;
          box-shadow: 3px 3px 10px #000000;
}

.contactform h2 {
  font-size: 30px;
  color: #892cdc;
  font-weight: 500;
}

.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactform .inputbox input,
.contactform .inputbox textarea {
  width: 100%;
  padding: 5px 0px;
  font-size: 16px;
  margin: 10px 0px;
  border: none;
  border-bottom: 2px solid #333333;
  outline: none;
  resize: none;
}

.contactform .inputbox span {
  position: absolute;
  left: 0px;
  padding: 5px 0px;
  font-size: 16px;
  margin: 10px 0px;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #666666;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"] {
  width: 100px;
  background: #892cdc;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-box-shadow: 5px  5px 10px #000000;
          box-shadow: 5px  5px 10px #000000;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .contactinfo {
    margin-bottom: 40px;
  }
  .container .contactinfo,
  .contactform {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */